/* Spark buttons */

.spark-btn {
  .line {
    position: absolute;
    background-color: black;
    width: 20px;
    height: 4px;
    border-radius: 40%;
    box-shadow: 1px 1px 0px #000, -1px -1px 0px #000, 2px 0px 1px #000,
      -2px 0px 1px #000;
  }

  .line-1 {
    top: 54%;
    transform: rotate(10deg);
  }

  .line-2 {
    top: 69%;
    transform: rotate(32deg);
  }
  .line-3 {
    top: 80%;
    transform: rotate(40deg);
  }
}